<div class="col-10 offset-1 about">
 <h1>About Splurty</h1>

<p>
Splurty was built by <a target="_blank" href="https://github.com/ddunbar88">Derek</a>. A Director of Operations by day, and student of software engineering at The Firehose Project by night.
</p>
<br />
<p>
Having the pleasure of working with multiple software vendors, developers, and digital products over the last few years has created a strong desire to learn more about the different software languages that we interact with every day. 
</p>
<p>
  <a target="_blank" href="http://derekdunbar.getforge.io">More About Me</a>
</p>

<div class="row">
 <div class="col-12 col-sm-4">
  <%= image_tag 'DSC_0536.jpg', class: 'img-fluid' %>
 </div> 

  <div class="col-12 col-sm-7 offset-sm-1">
   <h2 class="text-center">Derek Dunbar</h2>
  <br />
 <p>
  Derek Dunbar is a leader by day and software engineer by night. Currently managing multiple online marketplaces and the teams that operate them while working with various applications and developers to deliver an innovative and reliable online shopping experience. 
 </p>
 </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

</div> 