<div class="col-10 offset-1">
 <h1>About Splurty</h1>

<p>
Splurty was built by <a target="_blank" href="https://github.com/ddunbar88">Derek</a>. A student of software engineering at The Firehose Project.
</p>
<br />
<p>
Sample Text
</p>
<p>
  Sample Text
</p>

<div class="row">
 <div class="col-12 col-sm-4">
  <%= image_tag 'DSC_0536.jpg', class: 'img-fluid' %>
 </div> 

  <div class="col-12 col-sm-7 offset-sm-1">
   <h2 class="text-center">Derek Dunbar</h2>
  <br />
 <p>
  Derek Dunbar is a web developer and eCommerce product manager.
 </p>
 </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

</div> 